@media (min-width:320px) and (max-width: 1440px) {
    /* Estilos para pantallas con ancho máximo de 576px */
  }

.fondo1{
background-image: url(.//img/fondo-pared-rosa.jpg);

}
.mover{
    position: static;
    margin: 150px;
 margin-left: 50px;
}
.carrusel{
    
    border-style: solid;
   width: 200px;
   height: 200px;
   margin-left: 20px;
  
}
.titulo1{
    font-weight: 400;
    color: black;
}
.timover{
    position: relative;
bottom: 70px;
border-style: solid;
margin-bottom: 50px;
text-align: center;
}
.t1{
    
    padding: 10px;
   border-bottom: solid;
  border-color: rgb(205, 0, 154);
  font-weight: 500;
}
.t17{
    padding: 10px;
    border-bottom: solid;
   border-color: rgb(205, 0, 154);
}
.table1{
    margin: 50px;
    margin-bottom: 10px;
    border-width: 5px;
    border-color: rgb(205, 0, 154);
}
.ti{
 font-weight: 400;
   padding-left: 50px;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 text-decoration: underline;
 text-transform: capitalize;
}
.mover12{
    margin-top: 500px;
    margin-left: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.li12{
background-image: url(img/fondo-pared-rosa.jpg);
}
.presen{
    margin-top: 500px;
    margin-left: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.imgpro{
    height: 200px;
    width: 200px;
}
.acomodar{
    margin: 30px;
}
.alinear{
    margin-left: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: underline;
    text-transform: capitalize;
}
.modi{
    margin: 10px;
}
.hi{
    margin: 10px;
}
.q{
    margin-bottom: 30px;
}
.t2{
    font-weight: 400;
   padding-left: 50px;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 text-decoration: underline;
 text-transform: capitalize;
}
.r2{
    margin: 30px;
    border-style: solid;
}
.r3{
    margin: 30px;
    border-style: solid;
}
.imgfon{
    background-image: url(./img/fondo-pared-rosa.jpg);
}
.tr3{
    margin: 30px;
    border-style: solid;
}
.you{
    margin: 40px;
}
.y2{
    background-image: url(./img/fondo-pared-rosa.jpg);
}
.fg{
    margin: 50px;
}